{% extends "base.html" %}

{% block content %}
<main class="container mt-4">
    <h1 class="text-center mb-5 text-primary font-weight-bold">Gestión de Proveedores</h1>

    <div class="card shadow-lg mb-5">
        <div class="card-header bg-primary text-white text-center">
            <h3 class="font-weight-bold">Agregar Proveedor</h3>
        </div>
        <div class="card-body bg-light p-4">
            <form method="POST" action="{{ url_for('proveedores') }}">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="nombre" class="font-weight-bold">Nombre del Proveedor:</label>
                            <input type="text" class="form-control rounded-pill" id="nombre" name="nombre" placeholder="Ingrese el nombre" required>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="detalles" class="font-weight-bold">Detalles:</label>
                            <textarea class="form-control rounded-pill" id="detalles" name="detalles" placeholder="Ingrese los detalles" required></textarea>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-primary btn-lg px-5 rounded-pill shadow">Agregar Proveedor</button>
                </div>
            </form>
        </div>
    </div>

    <div class="card shadow-lg">
        <div class="card-header bg-secondary text-white text-center">
            <h3 class="font-weight-bold">Proveedores Registrados</h3>
        </div>
        <div class="card-body p-4">
            <table class="table table-hover table-striped table-bordered text-center">
                <thead class="thead-dark">
                    <tr>
                        <th>ID Proveedor</th>
                        <th>Nombre</th>
                        <th>Detalles</th>
                    </tr>
                </thead>
                <tbody>
                    {% for proveedor in proveedores %}
                    <tr>
                        <td>{{ proveedor[0] }}</td>
                        <td>{{ proveedor[1] }}</td>
                        <td>{{ proveedor[2] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>

{% endblock %}
